[class*='require-']::before {
	content:
		"\26A0 \FE0F  Your browser does not support ‘"
		var(--require-custom-functions,
			var(--require-anchor-name,
				var(--require-animation-range,
					var(--require-timeline-scope,
						var(--require-baseline-source,
							var(--require-at-scope,
								var(--require-cap,
									var(--require-style-queries))))))))
		'’';
	display: block;
	border: 2px dashed #FFCA51;
	padding: 8px;
	margin-block-end: 16px;
	text-align: center;
}

.require-at-scope {
	--require-at-scope: '@scope';
}

.require-style-queries {
	--require-style-queries: '@container style(--variable)';
}

@scope (html) {
	.require-at-scope {
		--require-at-scope: initial;
	}
}

@container not style(--foo: 1) {
	.require-style-queries::before {
		--require-style-queries: initial;
	}
}


@supports (width: --foo()) {
	.warning--custom-functions {
		display: none !important;
	}
}
@supports not (width: --foo()) {
	.require-custom-functions {
		--require-custom-functions: 'custom functions';
	}
}

@supports not (anchor-name: --foo) {
	.require-anchor-name {
		--require-anchor-name: 'anchor-name';
	}
}

@supports not (baseline-source: last) {
	.require-baseline-source {
		--require-baseline-source: 'baseline-source';
	}
}

@supports not (animation-range: entry-crossing) {
	.require-animation-range {
		--require-animation-range: 'animation-range';
	}
}

@supports not (timeline-scope: --foo) {
	.require-timeline-scope {
		--require-timeline-scope: 'timeline-scope';
	}
}

@supports not (opacity: round(5, 2, 1)) {
	.require-round {
		--require-timeline-scope: 'round()';
	}
}

@supports not (margin: 1cap) {
	.require-cap {
		--require-cap: 'cap';
	}
}
