---
import Base from '@layouts/Base.astro';
import { tagInURL } from '@lib/tagInURL';
import { getAllMusic } from '@lib/getAllMusic';
const allTags = await getAllMusic();
---

<Base title="Current Music">
	<article>
		<h1>Current Music</h1>
		<ul>
			{[...allTags.entries()].sort(([, { length: a }], [, { length: b }]) => b - a).map(([key, posts]) => <li><a href={`/music/${tagInURL(key)}`}>{key}</a> — {posts.length}</li>)}
		</ul>
	</article>
</Base>
