---
import { getCollection } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';
import { betterSlug } from '../lib/betterSlug';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---
<ul>
  {
    posts.map((post) => (
      <li>
        <FormattedDate date={post.data.pubDate} />
        <a href={`/${betterSlug(post.slug)}/`}>{post.data.title}</a>
      </li>
    ))
  }
</ul>
