---
import { AUTHOR, MAIN_URL, MASTODON_URL } from '../consts';

const today = new Date();
---

<hr />
<footer>
	<p>Let me know what you think about this <a href={MASTODON_URL}>on Mastodon</a>!</p>
	<p>&copy; {today.getFullYear()} <a href={MAIN_URL}>{AUTHOR}</a>. All rights reserved. <a href="/rss.xml">RSS</a>.</p>
</footer>
