---
import { AUTHOR, MAIN_URL, MASTODON_URL } from '../consts';

const today = new Date();

const isHomePage = '/' === Astro.url.pathname;

---

<hr />
<footer class="h-card p-author">
	<p>
		&copy;
		{' '}
		<a class={`u-url p-name${isHomePage ? ' is-inherited' : ''}`} rel="me author" href={Astro.site}>{AUTHOR}</a>
		·
		<a class="u-url" href={MAIN_URL}>Main site</a>
		·
		<a href="/rss.xml">RSS</a>
		·
		<a class="u-url" rel="me" href={MASTODON_URL}>Mastodon</a>
		<small>
			<a href="#debug">debug</a>
		</small>
	</p>
	<span class="p-note" hidden aria-hidden="true">I love CSS, and most of the things I do, write, or think about are CSS-related.</span>
</footer>
