---
import { AUTHOR, MAIN_URL, MASTODON_URL } from '../consts';

const today = new Date();
---

<hr />
<footer>
	<p>&copy; {today.getFullYear()}{' '}<a rel="me" href={MAIN_URL}>{AUTHOR}</a>. All rights reserved. <a href="/rss.xml">RSS</a>.</p>
</footer>
