---
import { SITE_TITLE } from '../consts';
---

<header>
	<h2>
		<a href="/">{SITE_TITLE}</a>
	</h2>
	<!-- Skip for now, as not enough content -->
	<!-- <nav>
		<HeaderLink href="/">Home</HeaderLink>
		<HeaderLink href="/about">About</HeaderLink>
	</nav> -->
</header>
