---
import { SITE_TITLE } from '../consts';

const { pathname } = Astro.url;
---

<header>
	{
		pathname !== '/'
			? <a href="/">{SITE_TITLE}</a>
			: <h1>{SITE_TITLE}</h1>
	}
	<!-- <fieldset>
		<legend>Theme</legend>
		<p><label><input name="site-theme" type="radio" checked /> system</label></p>
		<p><label><input name="site-theme" id="theme-light" type="radio" /> light</label></p>
		<p><label><input name="site-theme" id="theme-dark" type="radio" /> dark</label></p>
	</fieldset> -->
</header>
