---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '@components/BaseHead.astro';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import MastodonPostInfo from '@components/MastodonPostInfo/MastodonPostInfo.astro';
import MastodonPostInfoTemplate from '@components/MastodonPostInfo/MastodonPostInfoTemplate.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '@consts';

interface Props extends Partial<CollectionEntry<'blog'>['data']> {
	bodyClass?: string;
}

const {
	bodyClass,
	title = SITE_TITLE,
	description = SITE_DESCRIPTION,
	mastodonPostId,
	tags,
} = Astro.props;

// FIXME: there is probably a better way, but good enough for now.
// Used here to not use the link detection for a page without mastodon post id provided.
const isBlogPost = tags !== undefined;

---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body class={bodyClass}>
		<div class="root-container scroll-markers-root">
			<div class="root-grid">
				{isBlogPost ? <MastodonPostInfoTemplate /> : null}
				<Header />
				<main>
					<slot />
					<MastodonPostInfo mastodonPostId={mastodonPostId} />
				</main>
				<Footer />
			</div>
		</div>
	</body>
</html>
